@using Microsoft.Owin.Security

@model ByteBank.Forum.ViewModels.ContaLoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.EditorForModel()

    <input type="submit" value="Fazer login!" />
}

<p>
    Esqueceu a senha? Clique @Html.ActionLink("aqui", "RedefinirSenha", "Conta") para redefinir sua senha.
</p>

@{
    var providers = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (providers != null && providers.Any())
    {
        using (Html.BeginForm("AutenticacaoExterna", "Conta", FormMethod.Post))
        {
            foreach (var provider in providers)
            {
                <button class="btn" value="@provider.AuthenticationType" name="provider" type="submit">
                    @provider.Caption
                </button>
            }
        }
    }
}